@import "../../../data/styles.css";



.workProfile-content .skill-button{
	padding: 0% !important;

}
.workProfile-content .skill-icon{
	font-size: 2rem ;
	margin-top: 2%; 
}
.workProfile-content .skills-title{
	font-size: large;
}