.hex-grid {
    align-items: center !important;
    justify-content: center;
    display: flex !important;
    /* background: #41C7AC !important; */
}

.hex-grid:hover{
    /* transform: scale(1.2) ;  */
    transition-timing-function: ease-in;
    background: #2CB5B2 !important;
}
.hex-grid .container{
    align-items: center ;
    flex-direction: column;

}

.hex-grid .skill-icon{
    font-size: 2.6rem;
}
.tools .skill-name, .languages .skill-name{
    color: var(--quaternary-color) !important;
}
.frameworks .skill-name, .databases .skill-name{
    color: var(--primary-color) !important;
}
.skills-legend{
    justify-content: center;
}
.skills-legend .grid-item{
    margin: 5%;
}

.languages{
    background: var(--primary-color)  ;
}
.frameworks{
    background: var(--quaternary-color) !important;
}
.databases{
    background: var(--tertiary-color) !important;
}
.tools{
    background: var(--secondary-color) !important;
}

