.education-container {
	display: contents;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.card-item{
	border-radius: 25px !important;
	
}
.education-details {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
}

@media (max-width: 600px) {
	.all-projects-project {
		width: calc(100% / 2);
	}
}  
.center-text {
    text-align: center;
}