@import "../../data/styles.css";

.homepage-aboutme, .homepage-education, .homepage-contact{
	height: 100vh;
}
.homepage-aboutme, .homepage-education, .homepage-projects,.homepage-contact{
	background-color:  #F6F2DE !important;
	background-size: cover;
	/* background-position: 'center';
	background-attachment: 'fixed';  */
}
/* .homepage-works */
/* .homepage-skills {
	background-color:   #F5DBC0!important;
	background-size: cover;


} */
.content-wrapper{
	margin-left: 200px;
	margin-right: 200px;
}


@media (max-width: 1500px) {
	.homepage-aboutme, .homepage-education, .homepage-contact{
		height: auto;
	}
	
}