@import "../../data/styles.css";



.homepage-skills{
	background-color:  #F5F5DD !important;
	background-size: cover;

}

.homepage-works{
	background-color:  #F5F5DD !important;
	background-size: cover;

}
.homepage-contact{
	background-color:  #F5F5DD !important;
	background-size: cover;

}
