@import "../../../data/styles.css";

.tech-title{
	padding-left: 4% !important;
}
.tech-stack-container{
	padding: 2%;
}
.tech-button{
	padding: 0px !important;
	border-radius: 20px !important;
}
.project-container{
	border-radius: 10px !important;
	background: var(--primary-color) !important;
	color: var(--quaternary-color) !important;

}
.project-title{
	color: var(--quaternary-color);
}