@import "../../../data/styles.css";

.tech-title{
	padding-left: 4% !important;
}
.tech-stack-container{
	padding: 2%;
}
.tech-button{
	padding: 0px !important;
	border-radius: 20px !important;
}
.project-container{
	border: 2px !important;
	background: #94ABE1 !important;
	padding:1%;
}