:root {
	/* ------- colors ------- */
	--primary-color: #131842;
	--secondary-color: #E68369;
	--tertiary-color: #F5DBC0;
	--quaternary-color: #FBF6E2;
	--link-color: #14b8a6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Open Sans", sans-serif;
	/* --------------------- */
}
